.main {
  border: 1px solid white;
  margin-left: -1em;
  min-height: 32em;
  width: 36em;
  background-color: white;
}

.firstPart {
  height: 60px;
}

.secondPart1 {
  /*border: 1px solid black;*/
  margin-left: 3.5em;
  /* align-items: center; */
  /* justify-content: center; */
  margin-right: 2em;
  padding-top: 3em;
  margin-top: 0;
  display: none;
}

input {
  height: 3em;
  width: 41%;
  padding-left: 1em;
  border: 0.15em solid #a0a0a0;
  box-shadow: 0.2em 0.3em 0.4em 0 rgba(0, 0, 0, 0.1);
  border-radius: 1em;
}

.lastName {
  margin-left: 1.8em;
}

.E_mail {
  margin-top: 2.5em;
  width: 91%;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: #02b3e4;
}

.secondPart2 {
  margin-left: 3.5em;

  margin-right: 2em;
  padding-top: 3em;
}

.fp {
  float: right;
  margin-top: 1em;
  margin-right: 3em;
  font-size: 1em;
}

.setImage {
  width: 135px;
  height: 45px;
  border: 0.5px solid gray;
  margin-left: 20px;
  margin-top: 10px;
  background-color: white;
  text-align: left;
  padding-left: 10px;
  /*font-weight: normal;*/
  font-size: 10px;
  /*letter-spacing: 1px;*/
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  float: left;
}

/*.setImage p{
	font-weight: bold;
	font-size: 10px;
}
*/

.btn {
  height: 68px;
  width: 288px;
  /*adding-right: 0px;*/
  font-size: 1.1em;
  font-weight: bold;
  background-color: #fafbfc;
  border: none;
  color: #7d97ad;
  transition-duration: 0.2s, 0.2s, 0.2s;
  cursor: pointer;
}

.btn:hover {
  border-bottom-color: rgb(219, 226, 232);
  background-color: white;
  box-shadow: 0.1em 0.2em 0.4em 0 rgba(0, 0, 0, 0.1);
  /*border: 1px solid gray;*/
}

.selected:focus {
  outline: 0;
}

.selected {
  border-bottom-color: rgb(219, 226, 232);
  box-shadow: 0.1em 0.2em 1em 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none;
  color: black;
}

.signupBtn {
  width: 95%;
  text-align: center;
  font-size: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 1em 1.2em 1.5em 0;
  background-color: rgb(2, 179, 228);
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  border-color: white;
  color: white;
  letter-spacing: 0.2rem;
  /*font-weight: bold;*/
  border-radius: 1em;
  margin-top: 2em;
  cursor: pointer;
}
